html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #e9ecef;
}

#home-section {
    background-image: url(https://images.pexels.com/photos/959323/pexels-photo-959323.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 2em;
	background-size: cover;
	background-position: 50% 78%;
    overflow: hidden;
}

.jumbotron {
    background-color: #e9ecef;
}

.display-4 {
    font-weight: 700;
}

.lead {
    font-weight: 700;
}

.form-control {
    border-color: #4267b2;
}

#main-button,
#dropdown-button,
#modal-button {
    background-color: #4267b2;
    border-color: #4267b2;
}

#submit-button {
    background-color: #4267b2;
    color: #ffffff;
    outline: none;
    background: transparent;
    border: none;
    letter-spacing: 0.1em;
    padding: 8px 10px; 
    font-size: 16px;
    line-height: 2;
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    transition: all .5s;
  }

  #submit-button:before,
  #submit-button:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: #e9ecef;
  z-index: -1;
  transform: translate3D(0,-100%,0);
  transition: all .5s;
}

#submit-button:before {
  background: #4267b2;
  z-index: -2;
  transform: translate3D(0,0,0);
}

#submit-button:hover {
    background-color: #ffffff;
    color: #4267b2;
    border: 1px solid #4267b2;
}

#submit-button:hover:after {
  transform: translate3D(0,0,0);
  transition: all .5s;
}

#divider {
    color: #4267b2;
}

h3 {
    font-weight: 700;
}

.footer {
    font-size: 14px;
}

a {
    color: #4267b2;
}

.questions {
    width: 20%;
    color: #ffffff;
    background-color: #4267b2;
    border-color: #4267b2;
}

#matchPhoto {
    width: 100%;
    height: auto;
}

/* ===== MEDIA QUERIES ===== */

@media screen and (min-width: 981px) and (max-width: 1200px) {
    .questions {
        width: 20%;
    }
}

@media screen and (min-width: 769px) and (max-width: 980px) {
    .questions {
        width: 50%;
    }
}
  
@media screen and (min-width: 641px) and (max-width: 768px) { 
    .questions {
        width: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 640px) {
    .questions {
        width: 100%;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    .questions {
        width: 100%;
    }
}
