body {
    font-family: 'Open Sans', sans-serif;
}

.display-4 {
    font-weight: 700;
}

.lead {
    font-weight: 700;
}

.form-control {
    border-color: #4267b2;
}

#main-button,
#dropdown-button,
#submit-button {
    background-color: #4267b2;
    border-color: #4267b2;
}

#divider {
    color: #007bff;
}

h3 {
    font-weight: 700;
}

.footer {
    font-size: 14px;
}

a {
    color: #4267b2;
}

.questions {
    width: 20%;
    color: #ffffff;
    background-color: #4267b2;
    border-color: #4267b2;
}